.background_image_1 {
	background-color: #00f06a;
	color: white;
}

.background_image_2 {
	background-color: #c5cd00;
	color: white;
}

.background_image_3{
	background-color: #c56600;
	color: white;
}

.background_image_4 {
	background-color: #c60000;
	color: white;
}

